/* Common */
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      position: relative;
      font-family: 'Ubuntu', sans-serif;
}

.container {
      width: 80%;
      margin: auto;
      padding: 50px 0;
}

.clearfix::after {
      content: "";
      display: table;
      clear: both;
}

.vert-align {
      display: flex;
      align-items: center;
}

.overflow {
      overflow-y: scroll;
}

img {
      height: 70px;
      margin: 0 15px;
      border-radius: 50%;
}
/* --Common */

/* Background colors */
#bkg-top {
      height: 180px;
      background-color: #009587;
}
#bkg-main {
      height: calc(100% - 180px);
      background-image: linear-gradient(to bottom, #dddbd1, #d1dadb);
}
/* --Background colors */

/* Vue instance */
#root {
      width: 1600px;
      height: 900px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
/* --Vue instance */

/* Layout */
#left-side,
#right-side {
      float: left;
}
#left-side {
      width: 35%;
      height: 100%;
      border-right: 1px solid #d6d6d6;
}
#right-side {
      width: 65%;
      height: 100%;
}
/* --Layout */

/* Top bars */
.top {
      height: 100px;
      justify-content: space-between;
      background-color: #eaeaea;
}
.top-left p {
      margin-top: 5px;
      font-size: 14px;
      color: #b1b1b1
}

.icons {
      color: #b1b1b1;
      margin-right: 20px;
}
.icons i {
      margin: 0 10px;
}
/* --Top bars */

/* Left side */
#main-left {
      height: calc(100% - 100px);
}

#notifications {
      height: 120px;
      padding-left: 30px;
      background-color: #8edafc;
}
#notifications i {
      padding: 15px;
      border-radius: 50%;
      margin-right: 15px;
      color: #8edafc;
      background-color: #ffffff;
}
#notifications a {
      display: inline-block;
      margin-top: 5px;
      color: #6b7376;
}

#search {
      height: 60px;
      padding: 0 15px;
      background-color: #fafafa     ;
}

#search-bar {
      width: 100%;
      height: 30px;
      background-color: #ffffff;
}
#search-bar i {
      display: inline-block;
      padding: 0 30px;
      color: #b1b1b1;
}
#search-bar input {
      border: none;
      outline: none;
}
#chats {
      min-height: calc(100% - 180px);
      background-color: #ffffff;
}
/* --Left side */

/* Right side */
#main-right {
      min-height: calc(100% - 200px);
      background-image: url(../img/mine.jpg);
}

/* Bubble messages */
.sent,
.received {
      width: 300px;
      height: 50px;
      clear: both;
      margin-top: 10px;
      border-radius: 10px;
}
.sent {
      float: right;
      background-color: #d5f9ba;
}
.received {
      float: left;
      background-color: #ffffff;
}
/* --Bubble messages */

#chat-bottom {
      color: #6b7376;
      background-color: #f3eeea;
}
#chat-bottom i {
      padding: 0 40px;
}
#chat-bottom input {
      width: 100%;
}
/* --Right side */